.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.skills {
  padding: 70px;
  height: 100vh;
  background-color: var(--primary-bg);
}
h1 {
  padding: 10px;
}

@keyframes each-section {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}

.list {
  animation: each-section 4s infinite;
}
