.allsections {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  background-color: var(--primary-bg);
}

/* .mainnavbar {
  background-color: lightpink;
} */
.mainpage {
  display: flex;
  justify-content: space-between;
}
.home2 {
  padding: 100px;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
}
.home {
  background-image: url("./portfolio-background.png");
  background-repeat: no-repeat;
  height: 100vh;
  width: 50vw;
}

.mainnavbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-bg);
}

.navButtons {
  color: var(--primary-text);
  padding: 3px;
  text-decoration: none;
}
.navButtons:hover {
  color: var(--primary-button);
  /* background-color: lightpink; */
}
.logo {
  font-size: 2rem;
  font-weight: bold;

  color: var(--primary-text);
  text-decoration: none;
}
