.allsections {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-bg);
}

.mainpage {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-bg);
}

.home2 {
  padding: 100px;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
}

.mainnavbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-bg);
  width: 100%;
}

.navbar {
  background-color: var(--secondary-bg);
}

.navButtons {
  color: var(--primary-text);
  padding: 3px;
  text-decoration: none;
}

.navButtons:hover {
  color: var(--primary-button);
  /* background-color: lightpink; */
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-text);
  text-decoration: none;
}
