body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.light-mode {
  --primary-bg: rgb(167, 247, 220);
  --primary-link: aquamarine;
  --primary-text: black;
  --primary-border: #98b2c9;
  --primary-button: lightblue;
  --secondary-bg: rgb(89, 123, 144);
  --secondary-text: white;
}

.dark-mode {
  --primary-link: blue;
  --primary-bg: rgb(228, 188, 194);
  --secondary-bg: rgb(195, 126, 138);
  --secondary-text: white;
  --primary-text: black;
  --primary-border: #525252;
}
