.projectmain {
  background-color: var(--primary-bg);
}
a {
  color: var(--primary-link);
}

.projects {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.projectButton {
  background-color: var(--primary-bg);
  border: solid 1px grey;
  border-radius: 5px;
  margin: 2px;
}
h1 {
  text-align: center;
}
a {
  text-decoration: none;
  color: var(--primary-text);
}
.eachProject {
  padding: 2px;
  text-align: center;
  color: var(--primary-text);
  width: 300px;
  border: solid grey 2px;
  border-radius: 5px;
}
