.projects {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.projectButton {
  border: solid 1px grey;
  border-radius: 5px;
}
h1 {
  text-align: center;
}
a {
  color: darkgreen;
}
.eachProject {
  padding: 2px;
  text-align: center;
  color: darkgreen;
  width: 300px;
  border: solid black 2px;
  border-radius: 5px;
}
