.projectmain {
  background-color: var(--primary-bg);
}
a {
  color: var(--primary-link);
}

.projects {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.projectButton {
  background-color: var(--primary-bg);
  border: solid 1px grey;
  border-radius: 5px;
  margin: 2px;
}
h1 {
  text-align: center;
}
a {
  text-decoration: none;
  color: var(--primary-text);
}
.eachProject {
  background-color: var(--secondary-bg);
  padding: 2px;
  text-align: center;
  color: var(--secondary-text);
  width: 300px;
  border: solid grey 2px;
  border-radius: 5px;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
p:hover {
  color: var(--secondary-text);
}
@keyframes example {
  0% {
    background-color: var(--secondary-bg);
  }

  100% {
    background-color: var(--secondary-bg1);
  }
}
