.educationmain {
  height: 100vh;
  background-color: var(--primary-bg);
}

.education-header {
  text-align: center;
}
.education-sections {
  padding-top: 5%;

  font-style: italic;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.each-section {
  padding: 10px;
  border: solid black 2px;
  border-radius: 5px;
}
