.educationmain {
  height: 100vh;
  background-color: var(--primary-bg);
}

.education-header {
  text-align: center;
}
.education-sections {
  padding-top: 5%;

  font-style: italic;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.each-section {
  background-color: var(--secondary-bg);
  padding: 10px;
  border: solid black 2px;
  border-radius: 5px;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes each-section {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0%);
  }
}
