.sections {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.section2 {
  font-size: 1rem;
  font-style: italic;
}
h1 {
  text-align: center;
}
.relative {
  background-color: var(--primary-bg);
}
